<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

		<!-- Compiled and minified JavaScript -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<link rel="stylesheet/less" type="text/css" href="/less/styles.less" />
		<script src="//cdn.jsdelivr.net/npm/less@3.13"></script>

		<style></style>

		<script>
			//  document.addEventListener('DOMContentLoaded', function() {
			//     var elems = document.querySelectorAll('.sidenav');
			//     var instances = M.Sidenav.init(elems, options);
			// });

			// Or with jQuery

			$(document).ready(function () {
				$(".sidenav").sidenav();
				$(".modal").modal();

				var Modalelem = document.querySelector(".modal-error");
				var instance = M.Modal.init(Modalelem);

				if ($(".form_errors").val() == "true") {
					instance.open();
				}

				if ($(".notification-message").val() != "") {
					M.toast({ html: $(".notification-message").val(), classes: $(".notification-style").val() });
				}
			});
		</script>
		<title>Express 2 : User Dashboard</title>
	</head>
</html>
