<nav>
	<div class="container">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">User Dashboard</a>
			<a href="#" data-target="mobile-view" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/signin">Sign In</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</div>
	</div>
</nav>

<ul class="sidenav" id="mobile-view">
	<li><a href="/sign_in">Sign In</a></li>
	<li><a href="/register">Register</a></li>
</ul>
