<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

	<!-- Compiled and minified JavaScript -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<link rel="stylesheet/less" type="text/css" href="/less/styles.less" />
	<script src="//cdn.jsdelivr.net/npm/less@3.13"></script>

	<script
		src="https://cdn.socket.io/3.1.3/socket.io.min.js"
		integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
		crossorigin="anonymous"
	></script>

	<script src="/js/Shapes.js"></script>
	<script>
		$(document).ready(function () {
			const socket = io();
			socket.emit("new_connection", { msg: "load messages" });
			socket.on("load_users", function (data) {
				console.log(data);
				let html = ``;
				for (let i = 0; i < data.users.length; i++) {
					html += `<li>${data.users[i].name}</li>`;
				}
				$(".list-of-players").html(html);
			});

			let modal = $(".modal").modal();

			modal.modal("open");

			$(".add-player").submit(function () {
				$.post($(this).attr("action"), $(this).serialize(), function (res) {
					// console.log(res.msg);
					$(".thisPlayer").val(res.name);
					socket.emit("add_user", { user: res.name });
				});
				return false;
			});

			// UI related
			let buttons = document.querySelectorAll("button");
			let canvas = document.querySelector(".canvas");
			let shapeColor = "#f57f17"; //default

			for (let i = 0; i < buttons.length; i++) {
				buttons[i].addEventListener("click", function () {
					if (buttons[i].classList.contains("btn-green")) {
						shapeColor = "#1b5e20";
					} else if (buttons[i].classList.contains("btn-yellow")) {
						shapeColor = "#f57f17";
					} else if (buttons[i].classList.contains("btn-blue")) {
						shapeColor = "#0d47a1";
					} else if (buttons[i].classList.contains("btn-violet")) {
						shapeColor = "#311b92";
					} else if (buttons[i].classList.contains("btn-clear")) {
						let shapeColor = "#f57f17"; //back to default
						canvas.innerHTML = "";
					}
				});
			}

			canvas.addEventListener("click", function (e) {
				//name ng user
				let player_name_in_circle = $(".thisPlayer").val();
				socket.emit("canvas_click_request", {
					message: `canvas has been click by ${player_name_in_circle}`,
					player_name_in_circle: player_name_in_circle,

					y: e.clientY,
					x: e.clientX,
					shapeColor,
				});

				// let shape = new Shape(e.clientY, e.clientX, shapeColor, player_name_in_circle);
				// canvas.innerHTML += shape.display();
			});

			socket.on("canvas_click_response", function (data) {
				console.log(data.message);
				let shape = new Shape(data.y, data.x, data.shapeColor, data.player_name_in_circle);
				canvas.innerHTML += shape.display();
			});

			function shrink() {
				let shapes = document.querySelectorAll("div.shapes");
				for (let i = 0; i < shapes.length; i++) {
					shapes[i].style.height = `${parseInt(shapes[i].style.height) - 10}px`;
					shapes[i].style.width = `${parseInt(shapes[i].style.width) - 10}px`;

					// console.log(shapes[i].childNodes);

					shapes[i].childNodes[0].style.top = `${parseInt(shapes[i].childNodes[0].style.top) - 5}px`;

					shapes[i].childNodes[0].style.right = `${parseInt(shapes[i].childNodes[0].style.right) - 5}px`;

					if (parseInt(shapes[i].style.height) === 10 && parseInt(shapes[i].style.width) === 10) {
						shapes[i].remove();
					}
				}

				// let shapes = document.querySelectorAll("div.shapes");
				// for (let i = 0; i < shapes.length; i++) {
				// 	shapes[i].style.height = `${parseInt(shapes[i].style.height) - 10}px`;
				// 	shapes[i].style.width = `${parseInt(shapes[i].style.width) - 10}px`;

				// 	// console.log(shapes[i].childNodes);

				// 	shapes[i].childNodes[0].style.top = `${parseInt(shapes[i].childNodes[0].style.top) - 5}px`;

				// 	shapes[i].childNodes[0].style.right = `${parseInt(shapes[i].childNodes[0].style.right) - 5}px`;

				// 	if (parseInt(shapes[i].style.height) === 10 && parseInt(shapes[i].style.width) === 10) {
				// 		shapes[i].remove();
				// 	}
				// }
			}

			setInterval(() => {
				// console.log("hi");

				shrink();
			}, 500);
		});
	</script>

	<title>Javascript Track Exam</title>
	<body>
		<nav>
			<div class="nav-wrapper">
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<button type="button" class="btn colors btn-yellow">Yellow</button>
					</li>
					<li>
						<button type="button" class="btn colors btn-green">Green</button>
					</li>
					<li>
						<button type="button" class="btn colors btn-blue">Blue</button>
					</li>
					<li>
						<button type="button" class="btn colors btn-violet">Violet</button>
					</li>

					<li class="clear">
						<button type="button" class="btn btn-clear">Clear</button>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<!-- this player -->
			<input type="hidden" class="thisPlayer" value="" />
			<div class="row">
				<div class="col s12">
					<div id="modal1" class="modal">
						<form action="add-player" class="add-player" method="POST">
							<div class="modal-content">
								<h4 class="">Please enter your name:</h4>
								<div class="row">
									<div class="input-field col s12">
										<input id="name" type="text" name="name" />
										<label for="name">Name</label>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="modal-close waves-effect waves-green btn-flat light-blue darken-4">Enter</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<main>
			<!-- canvas -->
			<div class="canvas"></div>
			<!-- players -->
			<div class="players">
				<h6>The players in this server:</h6>
				<ul class="list-of-players">
					<li>Ivan</li>
					<li>Mavis</li>
				</ul>
			</div>
		</main>
	</body>
</html>
